{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
      "angular/di": [0], // turn it off completely
  },
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
