
<div layout="vertical" layout-fill>
  <div layout="column" class="wdt-100">
      <md-toolbar class="text-center">
          <h1>Angular Test</h1>
          <h2>Food Quiz</h2>
      </md-toolbar>

      <div class="container">
			<form layout="row" layout-padding layout-wrap ng-cloak form-step-validity>
				    <div class="text-center" flex="25" flex-md="33" flex-sm="50" flex-xs="100">
				    	<div><img src="http://lorempixel.com/125/125/food/1" alt=""></div>
						 <label>
			                <input type="radio" name="Food" value="I am an insect." ng-model="formFood.Food" required>
			                I am an insect.
			            </label>
					</div>
					 <div class="text-center" flex="25" flex-md="33" flex-sm="50" flex-xs="100">
					 	<div><img src="http://lorempixel.com/125/125/food/2" alt=""></div>
						 <label>
			                <input type="radio" name="Food" value="I love pasta." ng-model="formFood.Food" required>
			                I love pasta.
			            </label>
					</div>
					 <div class="text-center" flex="25" flex-md="33" flex-sm="50" flex-xs="100">
					 	<div><img src="http://lorempixel.com/125/125/food/3" alt=""></div>
						 <label>
			                <input type="radio" name="Food" value="Gimme meat." ng-model="formFood.Food" required>
			                Gimme meat.
			            </label>
					</div>
					 <div class="text-center" flex="25" flex-md="33" flex-sm="50" flex-xs="100">
					 	<div><img src="http://lorempixel.com/125/125/food/4" alt=""></div>
						 <label>
			                <input type="radio" name="Food" value="Is it food? I am in." ng-model="formFood.Food" required>
			                Is it food? I am in.
			            </label>
					</div>
			</form>
		</div>
  </div>
</div>
