
<multi-step-container steps="steps" class="simple-prev-next" ng-disabled="$isFirst()" >
    <main step-container></main>
     <div layout="row" layout-align="center center">
        <button ng-disabled="$isFirst()" class="md-raised md-primary md-button md-ink-ripple" ng-click="$previousStep()">
            <span class="fa fa-chevron-left"></span>
            Prev
        </button>

        <!-- <strong ng-bind-template="First Question : {{model.firstQuestion}}"></strong>
        <strong ng-bind-template="Second Question : {{model.secondQuestion}}"></strong>
        <strong ng-bind-template="Third Question : {{model.thirdQuestion}}"></strong>
        <strong ng-bind-template="Fourth Question : {{model.fourthQuestion}}"></strong> -->

        <button ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" class="md-raised md-primary md-button md-ink-ripple" ng-click="$nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
      </div>
</multi-step-container>