
<div layout="vertical" layout-fill>
  <div layout="column" style="width:100%;">
      <md-toolbar style="text-align:center;">
          <h1>Angular Test</h1>
          <h2>Game Of Thrones Pool</h2>
      </md-toolbar>
  </div>
</div>

  <md-content class="md-padding" layout-align="center center" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
	          <md-card-title-media>
	            <div class="md-media-lg card-media">
	            	<img src="{{dataGameOfThrones['Poster']}}" alt="" style="width:125px;height:125px;">
	            </div>
	          </md-card-title-media>

			  
	          <md-card-title-text>
	            <span class="md-headline">{{dataGameOfThrones["Year"]}}{{dataGameOfThrones["Title"]}}</span>
	            <p>{{dataGameOfThrones["Plot"]}}</p>
	          </md-card-title-text>


        </md-card-title>
        <div>
          <form>
            	<!-- <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p> -->
			    <md-radio-group layout="row" ng-model="data.group1">
			   	  <div flex="15">
                      <!-- Spacer //-->
                  </div>
			      <md-radio-button flex="15" value="1" class="md-primary" ng-click="getGameOfThronesSeason(1)">1</md-radio-button>
			      <md-radio-button flex="15" value="2" ng-click="getGameOfThronesSeason(2)"> 2 </md-radio-button>
			      <md-radio-button flex="15" value="3" ng-click="getGameOfThronesSeason(3)">3</md-radio-button>
			      <md-radio-button flex="15" value="4" ng-click="getGameOfThronesSeason(4)">4</md-radio-button>
			      <md-radio-button flex="15" value="5" ng-click="getGameOfThronesSeason(5)">5</md-radio-button>
			      <md-radio-button flex="15" value="6" ng-click="getGameOfThronesSeason(6)">6</md-radio-button>
			    </md-radio-group>
            </form>
        </div>
        <table class="table-got" wt-responsive-table>
			<thead>
				<tr>
					<th>Episode</th>
					<th>Name</th>
					<th>Released</th>
					<th>Imbd Rating</th>
				</tr>
			</thead>

			<tbody>

				<tr ng-repeat="item in dataGameOfThronesSeason.Episodes">
					<td>{{item["Episode"]}}</td>
					<td>{{item["Title"]}}</td>
					<td>{{item["Released"]}}</td>
					<td>{{item["imdbID"]}}</td>
				</tr>
			</tbody>	 
		</table>
      </md-card>
    </div>
  </md-content>
