
<div layout="vertical" layout-fill>
  <div layout="column" style="width:100%;">
      <md-toolbar style="text-align:center;">
          <h1>Angular Test</h1>
          <h2>Game Of Thrones Pool</h2>
      </md-toolbar>
  </div>
</div>

  <md-content class="md-padding" layout-align="center center" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
	          <md-card-title-media>
	            <div class="md-media-lg card-media">
	            	<img src="{{dataGameOfThrones['Poster']}}" alt="" style="width:125px;height:125px;">
	            </div>
	          </md-card-title-media>

			  
	          <md-card-title-text>
	            <span class="md-headline">{{dataGameOfThrones["Year"]}}{{dataGameOfThrones["Title"]}}</span>
	            <p>{{dataGameOfThrones["Plot"]}}</p>
	          </md-card-title-text>
        </md-card-title>
        <div>
          <form name="gameOfThronesForm"  form-step-validity>
            	<!-- <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p> -->
			    <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="1" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(1)" required>
	                1
	            </label>
	            <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="2" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(2)" required>
	                2
	            </label>
	            <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="3" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(3)" required>
	                3
	            </label>
	            <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="4" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(4)" required>
	                4
	            </label>
	            <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="5" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(5)" required>
	                5
	            </label>
	            <label>
	                <input 
	                	type="radio" 
	                	name="Season" 
	                	value="6" 
	                	ng-model="formGameOfThrones.Season"
	                	ng-click="getGameOfThronesSeason(6)" required>
	                6
	            </label>
            </form>
        </div>
        <table class="table-got" wt-responsive-table>
			<thead>
				<tr>
					<th>Episode</th>
					<th>Name</th>
					<th>Released</th>
					<th>Imbd Rating</th>
				</tr>
			</thead>

			<tbody>

				<tr ng-repeat="item in dataGameOfThronesSeason.Episodes">
					<td>{{item["Episode"]}}</td>
					<td>{{item["Title"]}}</td>
					<td>{{item["Released"]}}</td>
					<td>{{item["imdbID"]}}</td>
				</tr>
			</tbody>	 
		</table>
      </md-card>
    </div>
  </md-content>
